.DS_Store
*#
*~
data/out-renamed
data/out-resized
data/out-extract-knobs
data/out-find-knobs
readjpg/build
readjpg/build*
readjpg/CMakeFiles
readjpg/cmake_install.cmake
*.o

knobhead/build
marked.jpg
out.jpg
output.jpg
output.json
*/__pycache__
data-from-ei/.ipynb_checkpoints
*.npy
*.json
tests/data/*.pickle
tests/out/*.png
tests/out/*.jpg
tests/out/*





